In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv(r'C:\Users\lenovo\Desktop\ironhack\FINAL PROJECT\french-box-office\data\dataset_final.csv',index_col='global_rank')

In [8]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [13]:
df.release_date=pd.to_datetime(df.release_date)

In [21]:
df.columns

Index(['title', 'id', 'release_date', 'day', 'month', 'year',
       'max_theaters_used', 'first_day_sales', 'first_weekend_sales',
       'first_week_sales', 'total_sales', 'viewers_by_theaters', 'tmdb_id',
       'budget', 'imdb_id', 'original_language', 'original_title', 'tagline',
       'cast1', 'cast1_popularity', 'cast2', 'cast2_popularity', 'cast3',
       'cast3_popularity', 'cast_popularity', 'genre1'],
      dtype='object')

In [32]:
df=df.loc[df['max_theaters_used']>0]

In [34]:
df.drop('original_title',axis=1,inplace=True)

C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [38]:
df[['max_theaters_used','total_sales','viewers_by_theaters']].describe()

       max_theaters_used   total_sales  viewers_by_theaters
count        3958.000000  3.958000e+03          3958.000000
mean          239.103588  4.918189e+05          1981.812026
std           213.329960  9.749780e+05         11812.947421
min             1.000000  3.500000e+01            11.000000
25%            65.000000  4.829375e+04           608.250000
50%           178.000000  1.450145e+05          1019.000000
75%           353.750000  4.791810e+05          1770.500000
max          1205.000000  1.949069e+07        425480.000000

In [39]:
#Let's label by total sales and viewers by theater, so as to assess the commercial success of a movie. We will attribute a grade from 
#1 to 5, and add both.

bin_labels_5 =[1,2,3,4,5]
df['success_abs'] = pd.qcut(df['total_sales'], q=5, labels=bin_labels_5)
df['success_rel'] = pd.qcut(df['viewers_by_theaters'], q=5, labels=bin_labels_5)

<ipython-input-39-3d36db2f9bac>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['success_abs'] = pd.qcut(df['total_sales'], q=5, labels=bin_labels_5)
<ipython-input-39-3d36db2f9bac>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['success_rel'] = pd.qcut(df['viewers_by_theaters'], q=5, labels=bin_labels_5)

In [57]:
#in order to turn categorical to numerical
df['success_rel'].replace([1,2,3,4,5], [1,2,3,4,5], inplace=True)
df['success_abs'].replace([1,2,3,4,5], [1,2,3,4,5], inplace=True)

In [59]:
df["success_total"]=df['success_abs']+df['success_rel']

<ipython-input-59-7b2a4e33714c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["success_total"]=df['success_abs']+df['success_rel']

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3958 entries, 1.0 to 3959.0
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                3958 non-null   object
 1   id                   3958 non-null   float64
 2   release_date         3958 non-null   datetime64[ns]
 3   day                  3958 non-null   float64
 4   month                3958 non-null   float64
 5   year                 3958 non-null   float64
 6   max_theaters_used    3958 non-null   float64
 7   first_day_sales      3811 non-null   float64
 8   first_weekend_sales  3791 non-null   float64
 9   first_week_sales     3958 non-null   float64
 10  total_sales          3958 non-null   float64
 11  viewers_by_theaters  3958 non-null   float64
 12  tmdb_id              2351 non-null   float64
 13  budget               3958 non-null   float64
 14  imdb_id              2194 non-null   object
 15  original_language    3958 non-null   object
 16  tagline              841 non-null    object
 17  cast1                2181 non-null   object
 18  cast1_popularity     2181 non-null   float64
 19  cast2                2169 non-null   object
 20  cast2_popularity     2169 non-null   float64
 21  cast3                2158 non-null   object
 22  cast3_popularity     2158 non-null   float64
 23  cast_popularity      2158 non-null   float64
 24  genre1               2306 non-null   object
 25  success_abs          3958 non-null   int64
 26  success_rel          3958 non-null   int64
 27  success_total        3958 non-null   int64
dtypes: datetime64[ns](1), float64(16), int64(3), object(8)
memory usage: 896.7+ KB

In [61]:
df.success_total.value_counts()

10    569
7     487
5     469
6     462
2     456
4     430
3     413
8     389
9     283
Name: success_total, dtype: int64

In [62]:
bin_labels_4 =['failure','average','success','hit']
df['hit_or_fail'] = pd.qcut(df['success_total'], q=4, labels=bin_labels_4)

<ipython-input-62-58d72690e0d0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hit_or_fail'] = pd.qcut(df['success_total'], q=4, labels=bin_labels_4)

In [63]:
df['hit_or_fail']

global_rank
1.0           hit
2.0           hit
3.0           hit
4.0           hit
5.0           hit
           ...
3954.0    failure
3955.0    failure
3956.0    failure
3957.0    failure
3959.0    failure
Name: hit_or_fail, Length: 3958, dtype: category
Categories (4, object): ['failure' < 'average' < 'success' < 'hit']

In [71]:
main_languages=['en','fr']
df['original_language']=df['original_language'].apply(lambda x: 'others' if x not in main_languages else x)

<ipython-input-71-47312d6f510c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['original_language']=df['original_language'].apply(lambda x: 'others' if x not in main_languages else x)

In [85]:
df['genre1'].value_counts()

Drama              798
Comedy             565
Action             196
Animation          112
Thriller           108
Documentary         82
Adventure           80
Horror              70
Crime               69
Romance             60
Family              42
Science Fiction     41
Fantasy             26
Music               20
War                 17
History             14
Mystery             14
Western              9
TV Movie             1
Name: genre1, dtype: int64

In [96]:
df.loc[df.genre1.isna()==True][['title','genre1']].head(20)

                                                 title genre1
global_rank
243.0                                  Le Petit Prince    NaN
247.0                                  Chocolat (2016)    NaN
248.0                                     Le Majordome    NaN
253.0                                          Au-delà    NaN
256.0                      L'Ecole buissonnière (2017)    NaN
258.0                        Le Choc des Titans (2010)    NaN
261.0                                    Seven Sisters    NaN
262.0                              Ant-Man et la guêpe    NaN
263.0                                          La Mule    NaN
267.0                        La Belle & La Bête (2014)    NaN
269.0                                 Project X (2012)    NaN
272.0         Belle et Sébastien : l'aventure continue    NaN
275.0        Alvin et les Chipmunks - A fond la caisse    NaN
278.0                                             Lion    NaN
283.0                      Kingsman 2 : Le Cercle d'or    NaN
285.0                                      Night & Day    NaN
286.0                                   Minuit à Paris    NaN
287.0                                     Pierre Lapin    NaN
289.0                       Warcraft : Le commencement    NaN
292.0                                   Justice League    NaN

In [97]:
df.loc[23,'genre1']='Drama'
df.loc[24,'genre1']='Action'
df.loc[51,'genre1']='Comedy'
df.loc[31,'genre1']='Science Fiction'
df.loc[88,'genre1']='Animation'
df.loc[145,'genre1']='Animation'
df.loc[193,'genre1']='Animation'
df.loc[194,'genre1']='Action'
df.loc[208,'genre1']='Action'
df.loc[211,'genre1']='Animation'
df.loc[212,'genre1']='Comedy'
df.loc[217,'genre1']='Drama'
df.loc[218,'genre1']='Action'
df.loc[226,'genre1']='Action'
df.loc[229,'genre1']='Comedy'
df.loc[233,'genre1']='Comedy'
df.loc[234,'genre1']='Romance'
df.loc[239,'genre1']='Romance'
df.loc[255,'genre1']='Thriller'
df.loc[282,'genre1']='Western'
df.loc[266,'genre1']='Romance'
df.loc[157,'genre1']='Action'
df.loc[240,'genre1']='Action'
df.loc[276,'genre1']='Animation'
df.loc[277,'genre1']='Comedy'
df.loc[292,'genre1']='Action'

C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [108]:
df.loc[(df['title'].str.contains('2')==True)|(df['title'].str.contains('3')==True)|(df['title'].str.contains('4')==True)|(df['title'].str.contains('Star Wars')==True)]

,title,id,release_date,day,month,year,max_theaters_used,first_day_sales,first_weekend_sales,first_week_sales,...,cast2,cast2_popularity,cast3,cast3_popularity,cast_popularity,genre1,success_abs,success_rel,success_total,hit_or_fail
global_rank,,,,,,,,,,,,,,,,,,,,,
3.0,Star Wars: Le Réveil de la Force,13345.0,2015-12-16,16.0,12.0,2015.0,1093.0,619020.0,2705096.0,3801235.0,...,NaN,NaN,NaN,NaN,NaN,Action,5,5,10,hit
4.0,Le Roi Lion (2019),17528.0,2019-07-17,17.0,7.0,2019.0,820.0,630478.0,2559370.0,3252896.0,...,NaN,NaN,NaN,NaN,NaN,Adventure,5,5,10,hit
7.0,La Reine des neiges 2,17530.0,2019-11-20,20.0,11.0,2019.0,1020.0,361818.0,1979782.0,2137267.0,...,NaN,NaN,NaN,NaN,NaN,Family,5,5,10,hit
8.0,Star Wars: Les derniers Jedi,15113.0,2017-12-13,13.0,12.0,2017.0,1027.0,503727.0,2188853.0,2510462.0,...,NaN,NaN,NaN,NaN,NaN,Science Fiction,5,5,10,hit
14.0,Harry Potter et les reliques de la mort - part...,10193.0,2011-07-13,13.0,7.0,2011.0,833.0,732206.0,2532629.0,3129485.0,...,NaN,NaN,NaN,NaN,NaN,Adventure,5,5,10,hit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3911.0,Super 30,19561.0,2019-07-12,12.0,7.0,2019.0,1.0,NaN,92.0,349.0,...,Mrunal Thakur,4.071,Veerendra Saxena,0.600,15.095,Drama,1,2,3,failure
3915.0,Zoom (2016),15883.0,2016-06-08,8.0,6.0,2016.0,7.0,115.0,171.0,400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2,failure
3926.0,Student of the Year 2,19416.0,2019-05-10,10.0,5.0,2019.0,2.0,NaN,394.0,497.0,...,Ananya Pandey,2.979,Tara Sutaria,5.029,13.361,Romance,1,1,2,failure
3934.0,Holiday (2014),14413.0,2014-06-18,18.0,6.0,2014.0,1.0,50.0,255.0,335.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2,failure
3957.0,#Le Magicien d'Oz (3D),13754.0,2013-10-02,2.0,10.0,2013.0,1.0,NaN,98.0,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2,failure

In [110]:
df['licence']=np.where((df['title'].str.contains('2')==True)|(df['title'].str.contains('3')==True)|(df['title'].str.contains('4')==True)|(df['title'].str.contains('Star Wars')==True),1,0)

<ipython-input-110-b0497d22d310>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['licence']=np.where((df['title'].str.contains('2')==True)|(df['title'].str.contains('3')==True)|(df['title'].str.contains('4')==True)|(df['title'].str.contains('Star Wars')==True),1,0)

In [ ]:
#Encode budget,cast popularity, and language